<section class="wrapper wrapper-container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="common-header">
      <h1 class="common-heading">Nuestra Empresa</h1>
      <div class="underline">
          <div class="small-underline"></div>
          <div class="big-underline"></div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <article class="section-container animated" animateOnScroll animationName="fadeInUp">
      <header>
        <h2>Nutriendo la cultura del campo</h2>
        <p>Chiaraviglio Hnos es una empresa familiar Cordobesa, con más de 15 años de experiencia en el mercado y la zona. Somos una organización jóven y dinámica, dedicada plenamente a cubrir en forma integral las necesidades del productor.</p>
      </header>
      <p><strong>Estamos comprometidos con una agricultura sustentable a través de la generación y adopción de soluciones tecnológicas innovadoras en todas nuestras actividades.</strong></p>
      <p>Contamos con una red de trabajo consolidada, en dónde nuestro principal objetivo es generar valor en cada una de nuestras relaciones para lograr el desarrollo integral de las personas: con nuestros empleados y familias, clientes, proveedores, competidores y colegas.</p>
    </article>

    <article class="d-flex flex-column flex-wrap justify-content-start section-container animated" animateOnScroll animationName="fadeInRight">
      <section>
        <h3>Visión</h3>
        <p>
          Somos reconocidos en el sector agropecuario nacional como una empresa profesional referente en el manejo diferenciado de empresas agropecuarias. Instalamos una nueva manera de producir, administrar y gestionar, difundiendo tecnologías de procesos optimizando los recursos en el sistema económico, social y ambiental. Priorizamos las relaciones, tanto internas como externas, para la generación de círculos de confianza.
        </p>
      </section>
      <section>            
        <h3>Misión</h3>
        <p>
          Somos una empresa familiar de Calchín con visión sistémica, que brinda servicios mediante un equipo de trabajo enfocado en generar información para ayudar a la toma de decisiones del empresario agropecuario
        </p>
      </section>

      <section>
        <h3>Nuestros Valores</h3>
        <p>Nuestros valores, son los pilares que sustentan nuestro camino a recorrer para cumplir nuestras metas</p>
        <ul>
          <li>
            <strong>CONFIANZA:</strong> genera credibilidad y unión de propósitos. Es posbilidad para otros.
          </li>
          <li>
            <strong>SOLIDARIDAD:</strong> sentimiento que mantiene las personas unidas en todo momento, sobre todo cuando se vivencian experiencias difíciles.
          </li>
          <li><strong>INTEGRIDAD:</strong> la honestidad y transparencia son la principal característica en nuestro desempeño, 
              como también lo son el profesionalismo y la responsabilidad
          </li>
          <li>
            <strong>DINAMISMO:</strong>
            somos abiertos e innovadores, en constante proceso de mejora para 
            afrontar nuevos desafíos
          </li>
          <li>
            <strong>RESPETO:</strong>
            respetar al otro como legítimo otro.
          </li>
          <li>
            <strong>PERSEVERANCIA:</strong>
            esfuerzo continúo. Alcanzar lo que se propone superando obstáculos.
          </li>
          <li>
            <strong>AUTOCRITICOS:</strong>
            capacidad de identificar fortalezas y debilidades en mira de la mejora continua.
          </li>
        </ul>
      </section>
    </article>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <article>
        <span class="image featured">
          <img src="/assets/home_19_1.jpeg" alt="" />
        </span>
    </article>
  </div>  
</section>
