.image.featured {
  display: block;
  margin: 0 0 2em 0;
}

.image.featured img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.link-inner {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}