.image.featured {
  display: block;
  margin: 0 0 2em 0;
}

.image.featured img {
  display: block;
  width: 100%;
}

.item {
  padding-bottom: 2rem;
}

.link-inner {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}