.image.featured {
  display: block;
  margin: 0 0 2em 0;
}

.image.featured img {
  display: block;
  width: 100%;
}

.item {
  padding-bottom: 2rem;
}

.link-inner {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.seed-inner {
  width: 30rem;
  margin: 3rem 3rem 3rem 3rem;
  padding-bottom: 5rem;
}

.card {
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 1.2);
  background-color: black; border: none;
}

.card-container {
  width: 30rem;
  margin: 3rem 3rem 3rem 3rem;
  padding-bottom: 5rem;
}

.card-description {
  color: #fff;
  text-align: left;
}

.card-title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
